@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  max-width: 1538px;
  font-family: poppins;
  font-weight: 400;
  margin: auto;
  font-size: 11px;
}
body {
  background-color: rgb(246, 243, 243);
  @apply bg-white text-black dark:bg-black dark:text-white duration-700 ease-in-out;
}
nav ul li {
  cursor: pointer;
}
@keyframes cardscale {
  0% {
    transform: scale(10%);
  }
  50% {
  }
  100% {
    transform: scale(100%);
  }
}

.cardanimation {
  animation: cardscale 0.5s ease-in;
}

.movie_card_container {
  width: clamp(360px, 100%, 100%);
  margin: 0;
  row-gap: 10px;
  column-gap: 7px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

@keyframes cardanimation {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.card_text_anima {
  animation: cardanimation linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

.branding_movie_list {
  display: flex;
  gap: 4px;
  width: calc( 160px * 3);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
/* Hide scrollbar while allowing scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar,
.branding_movie_list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
